# Site Configs
SITE=https://www.site.where.you.will.aply.for.jobs/

# Browser Config
FIREFOX_BINARY=/path/to/your/firefox/binary
ORIGINAL_PROFILE_PATH=/path/to/your/browser/profile
TEMP_PROFILE_PATH=/path/to/your/temporal/browser/profile

# Searching Config
JOB_POSITION=Your Interested Job Position
JOB_LOCATION=Your Interested Job Location

# Times Config
WAIT_TIMEOUT=integer time
PAGE_LOAD_SLEEP=float time