# Site Configs
SITE=https://www.site.where.you.will.aply.for.jobs/

# Browser Config
FIREFOX_BINARY=/path/to/your/firefox/binary
ORIGINAL_PROFILE_PATH=/path/to/your/browser/profile
TEMP_PROFILE_PATH=/path/to/your/temporal/browser/profile

# Searching Config
JOB_POSITION=Your Interested Job Position
JOB_LOCATION=Your Interested Job Location

# Times Config
WAIT_TIMEOUT=integer time
PAGE_LOAD_SLEEP=float time

# Google AI Studio Config
PROCESS_WITH_GOOGLE_AI=false
GOOGLE_AI_API_KEY=YourGoogleAiApiKey
GOOGLE_AI_MODEL=Your-gemini-ai-model
GOOGLE_AI_PROMPT_TEMPLATE="Your AI prompt with {job_text} to inject the job description"